body.about {
	.standfirst {
		padding-top: 20px;
		.text {
			@include gutters;
		}
		.rule {
			border-bottom: 3px solid #000;
			padding-top: 20px;
		}
		p {
			@include h2-serif;
			max-width: 925px;
		}
	}
	.section h2 {
		padding-top: 20px;
		margin-bottom: 22px;
	}
	.body {
		padding-bottom: 26px;
	}
	.people {
		background: $gray-1;
	}
	@include breakpoint(medium) {
		.standfirst {
			padding-top: 90px;
			.rule {
				padding-top: 40px;
			}
		}
		.section h2 {
			float: left;
			width: percentage(3/10);
			@include gutters;
			padding-top: 46px;
		}
		.body {
			float: right;
			clear: right;
			width: percentage(6/10);
			padding-top: 46px;
			padding-bottom: 47px;
			@include gutters;
		}
	}
	@include breakpoint(large) {
		.standfirst {
			padding-top: 148px;
			.rule {
				padding-top: 63px;
			}
		}
		.section h2 {
			width: percentage(3/9);
			padding-top: 66px;
		}
		.body {
			padding-top: 66px;
			padding-bottom: 69px;
			width: percentage(6/9);				
		}
	}
}