/******************************************************************************************
VIDEOS
******************************************************************************************/

.video {
	clear: both;
	// based on http://avexdesigns.com/responsive-youtube-embed/
	.player {
		position: relative;
		padding-bottom: 56.25%;
		height: 0; overflow: hidden;
		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&.youtube {
			padding-top: 30px;
		}
	}
}
@include breakpoint(medium) {
	body#projects .video {
		width: percentage(6/8);
		margin-left: percentage(1/8);
	}
}

/******************************************************************************************
TITLE IMAGES (title revealed on hover)
******************************************************************************************/

.title-img {
	position: relative;
	h2, h3, h4 {
		border: none;
		padding: 10px 15px 0 13px;
		margin: 0 !important;
		opacity: 0;
		transition: opacity .4s;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		border: 8px solid $accent-color !important;
		@include box;
		@include breakpoint(large) {
			padding-left: 16px;
		}
	}
	img {
		display: block;
	}
}
a.title-img-wrap:hover {
	.title-img {
		h2, h3, h4 {
			opacity: 1;
		}
	}
	p, h2, h3, h4 {
		color: $accent-color;
	}
}
